body{
     font-family: Arial, sans-serif;
     background-color: blueviolet;
     margin: 0;
     padding:0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
}

strong{
font-family: Arial;
color: aqua;
font-size: 20px;
}

.detalhe{
    font-size: 30px;
    color: hwb(348 11% 22%);
    line-height: 2;
}